<div class="main-item">

    

  </div><!-- End of main-item -->
  <div class="sub-items">
    {{#each results}}
      {{#if this.description}}
        <h1>{{this.description}}</h1>
      {{/if}}
    {{/each}}
        
    
  </div><!-- End of main-item -->